# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# MongoDB
*.lock
mongodb.log

# Coverage directories
coverage/
.nyc_output/

# Production
build/
dist/
